<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>715608314272-fvmeos0nbp71v8033tr6p74ouhm52qvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715608314272-fvmeos0nbp71v8033tr6p74ouhm52qvu</string>
	<key>API_KEY</key>
	<string>AIzaSyAFXb6pMQlKevMlDzAFl4i1TKXn7FfDsT4</string>
	<key>GCM_SENDER_ID</key>
	<string>715608314272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.application</string>
	<key>PROJECT_ID</key>
	<string>nearbuy-3d083</string>
	<key>STORAGE_BUCKET</key>
	<string>nearbuy-3d083.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715608314272:ios:459163bd31908909</string>
	<key>DATABASE_URL</key>
	<string>https://nearbuy-3d083.firebaseio.com</string>
</dict>
</plist>